<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>student result management system</title>
    {% load django_bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
      integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg">
      <div class="container">
        <a href="#" class="navbar-brand"
          ><i class="fas fa-school me-1"></i>SRMS</a
        >
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto">
            <a href="{% url "srms:index" %}" class="nav-item nav-link active">HOME</a>
            <a href="{% url "srms:search_result" %}" class="nav-item nav-link">STUDENT RESULT</a>
            <a href="{% url "srms:admin_login" %}" class="nav-item nav-link">ADMIN</a>
          </div>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock content %}

    <footer class="py-4 text-center">
      <div class="container">
        <p class="mb-0">&copy; Student Result Management System</p>
      </div>
    </footer>
  </body>
</html>
