{% extends "srms/admin_base.html" %} {% load static %} {% block content %}

<div class="container">
  <h2 class="mb-4"><i class="fas fa-edit"></i> Edit student</h2>

  {% if messages %}

    {% for message in messages %}
        <div class='alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible fade show role='alert''>
            {{message}}
            <button type="button" class='btn btn-close' data-bs-dismiss='alert'></button>
        </div>
    {% endfor %}

  {% endif %}

  <form action="" method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        class="form-control"
        required
        placeholder="Enter student name"
        value='{{student_obj.name}}'
      />
      <small class='text-muted'>e.g., john doe, e.t.c</small>
    </div>

    <div class="mb-3">
      <label for="reg_no" class="form-label">Registration no.</label>
      <input
        type="text"
        name="reg_no"
        id="reg_no"
        class="form-control"
        required
        placeholder="Enter student registration number"
        value='{{student_obj.reg_no}}'
      />
      <small class='text-muted'>e.g., scp224-1143/2023, e.t.c</small>
    </div>


    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        required
        placeholder="Enter student email"
        value='{{student_obj.email}}'
      />
      <small class='text-muted'>e.g., johndoe@example.com, e.t.c</small>
    </div>

    <div class="mb-3">
      <label class="form-label">Gender</label><br>
      <div class="form-check form-check-inline">
        <input type="radio" name="gender" class="form-check-input" required value='Male' {% if student_obj.gender == 'Male' %}checked{% endif %}/>
        <label class="form-check-label">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" name="gender" class="form-check-input" required value='Female'  {% if student_obj.gender == 'Female' %}checked{% endif %}/>
        <label class="form-check-label">Female</label>
      </div>
    </div>

    <div class="mb-3">
      <label for="class" class="form-label">Class</label>
      <input type="text" class='form-control' name="student_class" id="class" value='{{student_obj.student_class.class_name}} - {{student_obj.student_class.section}}' readonly>
    </div>

    <div class="mb-3">
      <label for="dob" class="form-label">Date of Birth</label>
      <input
        type="date"
        name="dob"
        id="dob"
        class="form-control"
        required
        value={{student_obj.dob}}
      />
    </div>

    <div class="mb-3">
      <label for="regdate" class="form-label">Registration date</label>
      <input
        type="text"
        name="reg_date"
        id="regdate"
        class="form-control"
        value='{{student_obj.reg_date}}'
        readonly
      />
    </div>


    <div class="mb-3">
      <label class="form-label">Status</label><br>
      <div class="form-check form-check-inline">
        <input type="radio" name="status" class="form-check-input" required value=1 {% if student_obj.status == 1 %}checked{% endif %}/>
        <label class="form-check-label">Active</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" name="status" class="form-check-input" required value=0  {% if student_obj.status == 0 %}checked{% endif %}/>
        <label class="form-check-label">Inactive</label>
      </div>
    </div>
    
    <button type="submit" class='btn btn-success'><i class='fas fa-check-circle me-1'></i> Submit</button>

  </form>
</div>

{% endblock content %}
