{% extends "srms/admin_base.html" %} {% load static %} {% block content %}

<div class="container">
  <h2 class="mb-4"><i class="fas fa-bullhorn"></i> Manage Notice</h2>

  {% if messages %}

    {% for message in messages %}
        <div class='alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible fade show role='alert''>
            {{message}}
            <button type="button" class='btn btn-close' data-bs-dismiss='alert'></button>
        </div>
    {% endfor %}

  {% endif %}


  <table class='table table-bordered table-striped'>
    <thead class='table-dark'>
        <tr>
            <th>S.No</th>
            <th>Notice Title</th>
            <th>Notice Detail</th>
            <th>Posting Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for notice in notices %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{notice.title}}</td>
                <td>{{notice.detail}}</td>
                <td>{{notice.posting_date}}</td>
                <td>
                    <a href="?delete={{notice.id}}" onclick="return confirm('Are you sure you want to delete this notice?')" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i>Delete</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan='6' class='text-center'>No notice found</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
  
</div>
{% endblock content %}